{% extends "home.html" %}

<!DOCTYPE html>
{% block header %}
<head>
  <link  type="text/css" rel="stylesheet" href="static/template00.css">
  <title>Login</title>
</head>
{% endblock %}
{% block sidebarstart %}
{{ super() }}
{% endblock %}
      {% if error!=None %}
      <h2>{{error}}</h2>
      {% endif %}
      <nav class="nav">
	{% if s.logged %}<h3>You're already logged in</h3>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button" href="/home">Home</a>
          </li>
          {% block delogbutton %}
          {{super()}}
          {% endblock %}
        </ul>
      </nav>
      {% else %}
      <form action="/login" method="POST" >
        Username: <input type="text" name="username"><br>
	Password: <input type="password" name="password"><br>
	<input type="submit" name="button" value="login">  <input type="submit" name="button" value="New Account"> 
      </form>
      {% endif %}
{% block footerstart %}
      {{super()}}
{% endblock %}
            <li class="pure-menu-item"><a href="#">About</a></li>
            <li class="pure-menu-item"><a href="https://github.com/hfilosa/Bloginator" class="pure-menu-link">GitHub</a></li>
          {% block close %}
          {{super()}}
          {% endblock %}
 
